<html>
<head>
<title>login_page</title>
<body>
<body bgcolor="orange">
<marquee direction="left"><h3><b><font color=blue>Welcome to login page</font></b><br /></h3></marquee>
<h1 align="center"><font color="blue">User Name<input type="text" /></h1></font>
<h1 align="center"><font color="red">Password<input type="password" /><br /></h1></font>
<h1 align="center"><input type="submit" value="login" /><br /></h1>
<b>New User</b><a href="file:///C:/Users/Dinesh%20Reddy/Desktop/register.html"><input type="submit" value="Click Here" /></a>
</body>

</head>
</html>
