<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Register</title>
</head>
<marquee direction="left"><h3><b>Register your account</b><br /></h3></marquee>
<form action="/do_reg/" method="post">
	{% csrf_token %}
	<h3>Name<input type="text" name='name'/><br /></h3>
	<h3>Email<input type="text" name='email'/><br /></h3>
	<h3>AGE<input type="text" name='age' value='Enter only numbers' /></h3></br>
	<h3>Phone<input type="text" name='phone'/><br /></h3>
	Gender:<input type="text" name="gender" /></br>
	<h3>Password<input type="password" name='pwd1'/><br /></h3>
	<h3>Conform Password<input type="password" name='cpwd1'/><br /></h3>
	Location <input type="text" name="loc" value="Enter 'india' or 'AUS'"> <br>
	Marrital Status <input type='text' name="ms" /><br />
	<h3 align="center"><input type="submit" value="Register" /><br /></h3>
</form>


<body>
</body>
</html>
